<nav class="navbar navbar-default">
	<ul class="nav nav-tabs pull-right">
		<li role = "presentation"><a href="/groups"> Dashboard</a></li>
		<li role="presentation">
			<% if current_user %>
			  <form action='/sessions' method='post'>
			    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			    <input type='hidden' name='_method' value='delete'>
			    <input type='submit' value='Log Out'>
			  </form>
			<% end %>
		</li>
	</ul>
</nav>


<div class = "container">
	<div class="row">
	  <div class="col-md-6">
	  	<h2><%= @groups.name %></h2>
		<p><%= @groups.description %></p>

		<br>
		<br>

		<div>
			<h5>Created By: <%= @user.first_name %> <%= @user.last_name %> </h5>

			<p>Members</p>
			<ul>
				<% @users_uniq.each do |u| %>
				<li><%= u.first_name %> <%= u.last_name %></li>
				<% end %>
			</ul>

		</div>
	  </div>

	  <div class="col-md-6">
	  	<form action = "/attendings" method = "post">
	  		<input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
	  		<input type = "hidden" name= "group_id" value = "<%=@groups.id %>">
			<input type = "submit" value = "Join">
	  	</form>
	  </div>

	</div>
	
</div>